* { 
    box-sizing: border-box;
    margin: 0;
}

header { 
    display: flex;
    justify-content: space-around;

}


header .collogo img { 

}


header .collista { 


}


header .collista .lista { 

}


header .collista .lista .selecionar { 

}


header .collista .lista .idiomas .idiomalist {

    
}


header .collista . .lista a { 


}


header .collista a { 

}


