* { 
    margin: 0;
    padding: 0;
}

header { 
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #404EED;
}


header .collogo a img { 
    filter: invert(75%);
}


header .collista { 


}


header .collista .lista { 

}


header .collista .lista .selecionar { 

}


header .collista .lista .idiomas .idiomalist {

    
}


header .collista . .lista a { 


}


header .collista a { 

}


