* { 
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header { 
    width: 100%;
    padding: 15px 0;
    background-color: #404EED;
    height: 600px;
    text-align: center;
}


header .container { 
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 0 100px;
    text-align: center;
    align-items: center ;
}


header .collogo a img { 
    filter: brightness(0) invert(1);
}

header .container .nav   { 
}

header .container .nav ul { 
    display: flex;
    list-style: none;
}


header .container .nav ul li { 
    padding: 0 20px;
}


header .container .nav ul li a { 
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
}

header .container .boton button { 
    border-radius: 40px;
    padding: 10px 16px; 
    border: none;
}

header .container .boton button a { 
    text-decoration: none;
    font-weight: 400;
    color: #23272a;
    cursor: pointer;
}

.nav ul li a:hover { 
    border-bottom: 2px solid #ffff;
}


header .container2 { 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 980px
}


header .container2 .imagens {
    width: 100%;
}


header .container2 .imagens .fundo { 
}


header .container2 .imagens .esquerda { 

}


header  .container2 .imagens .direita { 
}